@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.containe-sm{
    max-width: 920px;
    margin: 0 auto;
}
.btn{
    background-color: #02aa44;
    padding: 10px 15px;
    border: none;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
}
.btn:hover{
    background-color: #05993e;

}

nav{
    width: 100%;
    background-color: #0f1410;
    height: 73px;
    padding: 10px;
    position: fixed;
    z-index:1;
    

}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

.menu{
    display: flex;
    align-items: center;
}
.menu.Active{
    display: block;
    
}

.menu li{
    margin: 10px;
    list-style: none;

}

.menu li a{
    text-decoration: none;
    color: #cacac9;
}
.show-case{
    background-color: #0f1410;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    
}

.show-case-items{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px; 
    
}
.show-case-title{
    color: #fff;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 0.95;
}

.show-case-content{
    font-size: 1.5rem;
    color: #cacac9;
    margin-top: 25px;
    margin-bottom: 25px;
}
.store{
    display: flex;
    flex-direction: row;
}
.store *{
    margin: 10px;
}

.left-side img{
    width: 80%;
}
.Burger{
    width: 30px;
    color: #fff;
    display: none;
}
.feature{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}
.feature .right-side{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.feature .right-side .Top-bar{
    color: #02aa44;
}
.feature .right-side h1{
    font-size: 1.7rem;
    
    

}
.feature .right-side .text{
    color: #606060;
    font-size: 1.15rem;
    margin-bottom: 15px;
    
}
.feature .left-side img{
    width: 480px;
}

.acheivments{
    width: 100%;
    background-color: #0f1410;
    padding: 100px;
    color: #fff;
}

.acheivment-item svg{
    width: 30px;
}

.acheivments-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.acheivments-list h1{
    font-size: 1rem;
}

.acheivments-list .acheivments-desc{
    font-size: 1.2rem;
    ;
    
}
.stars svg{
    color: #c2d821;
}
.award svg{
    color: #02aa44;
}

.group svg{
    color: #02aa44;
}
.unique-content svg{
    width: 30px;
    color: #fff;
}

.unique {
    /* display: flex; */
  width: 100%;
    /* flex-direction: column; */
    padding: 40px;
    position: relative;
}
.unique h1{
    text-align: center;
    font: size 2rem;
    margin: 2rem;
}

.unique-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-content: center;
}
.unique-content-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unique-content-item-1 .svg-1{
    background-color: rgb(98, 98, 243);
    color: #fff;
    width: 50px;
    margin-left: 100px;
}
.unique-content h2{
    font-size: 1rem;
}

.unique-content-item .unique-content-item-1{
    background-color: #2d7ef8;
    padding: 10px 15px;
    align-items: center;
    border-radius: 15px 10px 15px 10px;
}
.unique-content-item .unique-content-item-2{
    background-color: #02aa44;
    padding: 10px 15px;
    align-items: center;
    border-radius: 15px 10px 15px 10px;
}
.unique-content-item .unique-content-item-3{
    background-color:#f97414;
    padding: 10px 15px;
    align-items: center;
    border-radius: 15px 10px 15px 10px;
}

.unique-content-item p{
    text-align: center;
    padding: 10px;
}

.Reviews{
    background-color: #f6f4ed;
    padding: 100px;
    padding-bottom: 100px;
}

.review-Top-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.review-Top-bar{
    color: #02aa44;
    font-size: 0.8rem;
}
.review-Top-heading .title{
    font-size: 1.5rem;
    font-weight:700;
}
.review-top button{
    border-radius: 25px;
    border: 1px solid #d3c4cd;
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
}
.review-top button svg{
    width: 25px;

}
.cards-review{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-content:center;
    margin-top: 50px;
}

.card{
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    margin: 10px;
}
.card-body{
    padding: 10px;
}

.card-body p{
    font-weight: 600;
    font-size: 18px;
}
.card-footer{
    display: flex;
    justify-content:start;
    align-items: center;
}

.card-footer-person{
    display: flex;
    flex-direction:column;
    margin: 10px;
}

.card-footer-person h4{
    font-weight: 500;
}

.card-footer-person h5{
    font-weight: 400;
}

footer{
    background-color: #0f1410;
    color: #fff;
    padding: 50px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.col h4{
    font-size: 1.15rem;
    font-weight: 600;
}

.col li{
    list-style-type: none;
    color: #d3c4cd;
    padding: 5px 0;
    font-size: 15px;
}

.col li a{
    text-decoration: none;
    color: #d3c4cd;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;

}

.contact span{
    color: #d3c4cd;
    font-size: 14px;

}
.socia-media{
    padding: 10px;
    
}
.socia-media .items{
    margin: 10px;
    
}
.socia-media .items i{
    margin: 0 15px  0  0  ;
    cursor: pointer;
    
}

.socia-media .items .fa-facebook:hover{
    color: #2d7ef8;

}

.socia-media .items .fa-instagram:hover{
    color: #e17cb0;

}
.socia-media .items .fa-twitter:hover{
    color: #2e60ab;

}
.socia-media .items .fa-youtube:hover{
    color: #ee772d;

}
.line{
    border-bottom: 1px solid #4f4f4e;
    padding: 20px;
}

footer .copy{
    color: #979792;
    padding-top: 40px;
    text-align: center;
    font-size: 12px;
}


@media(max-width:768px){
     .show-case-title{
        
        padding-left: 15px;
        padding-right: 10px;
        font-size: 2.5rem;
    } 
   nav{
       width:100%;
   }
  



    .menu{
        display: none;
        width: 100%;
        position: absolute;
        top: 70px;
        background-color: #0f1410;
        padding: 15px;
        border-bottom: 1px solid #fff;
        
    }
    .Burger{
      display: flex;  
      width: 40px;
      padding: 10px;
      border-radius: 50%;
      background-color: #455248;
      cursor: pointer;
      
    }

    .btn-purchase{
        display: none;
    }

    .show-case .left-side{
        display: none;
    }
    .show-case .show-case-content {
        font-size: 1rem;
        padding-left: 15px;
        padding-right: 10px;
    }

    .feature{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feature .text{
        padding-left: 15px;
        
    }
    .feature h1, .Top-bar{
        padding-left: 15px;
    }

    .acheivments-list{
        grid-template-columns: 1fr;
        place-content: center;
        padding: 50px;
    }

    .acheivment-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .unique-content{
        grid-template-columns:1fr;
    }
    .uniqu h1{
        font-size: 2.5rem !important;
    }

    .cards-review{
        grid-template-columns: 1fr;
    }

    footer .grid{
        grid-template-columns: 1fr 1fr;
        
    }
    .col{
        margin: 10px;
    }

  



}

@media(min-width:768px){
    .title{
        font-size: 1.8rem;
    }
    .show-case-title{
        font-size: 3.1rem ;
    }

    .show-case-items.right-side.show-case-content{
        font-size: 1.2rem;
    }
    .unique-content{
        grid-template-columns: 1fr 1fr;
    }

    .cards-review{
        grid-template-columns: 1fr 1fr;
    }
   
}

@media (min-width:992px){
    .show-case-title{
        font-size: 4.5rem !important;
    }
    .show-case-items.right-side.show-case-content{
        font-size: 1.5rem !important;
    }

    .unique-content{
        grid-template-columns: repeat(3,1fr);
    }

    .cards-review{
        grid-template-columns: repeat(3,1fr);
    }
}